<div class="ldnddev-milestone__item">
    <div class="ldnddev-milestone__icon">
        {{ content.field_ldnddev_milestone_icon }}
    </div>
    <div class="ldnddev-milestone__number" data-number="{{ content.field_ldnddev_milestone_number|render|trim() }}">
        0
    </div>
    <div class="ldnddev-milestone__copy">
        {{ content.field_ldnddev_milestone_copy }}
    </div>
</div>